table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

.comp-table-box {
  max-width: 800px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

th {
  color: black;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ddd;
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.comp-table td {
  padding: 8px;
}

.event-icons-row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line when necessary */
  margin: 8px 0px;
}

.current th {
  background-color: #384aa7;
  color: white;
}

.upcoming th {
  background-color: #4caf50;
  color: white;
}

.recent th {
  background-color: #eb5e55;
  color: white;
}

.cubing-icon {
  padding: 2px;
}

.reg-link {
  text-decoration: none;
  font-size: 12px;
  color: #4caf50;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.city-name {
  font-weight: 200;
  padding-top: 12px;
}

.venue-name {
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.comp-name {
  text-decoration: none;
  color: black;
}

h5 {
  margin: 0;
}

.action-btn {
  color: white;
  background-color: #384aa7;
  border: none;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.comp-table-box h1 {
  text-align: center;
}
