body {
  margin: 0;
  font-family: "Public Sans", serif;
}

.intro-row {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between; /* Ensures space between the items */
  align-items: center;
  gap: 0 20px; /* Equal margin between the items */
  padding: 0 20px;
}

.intro-item {
  width: 50%;
}

.content-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  margin: 32px 0;
}

.btn-link {
  border: 0px;
  border-radius: 5px;
  background-color: #93c572;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-link:hover {
  transition: color 0.3s ease;
  background-color: #a7d08b;
}

.highlight-txt {
  color: #3777ff;
}

@media screen and (max-width: 768px) {
  .intro-row {
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .intro-item {
    width: 100%;
  }
  .about-box {
    padding: 0 16px;
    box-sizing: border-box;
  }
}
