body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#snz-header-logo {
  width: 50px;
  height: 50px;
  padding: 8px 8px;
}

#header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
}

.footer a {
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
}

.footer .icon {
  /* margin: 0 20px; */
  padding: 16px;
  font-size: 40px;
  color: #fff;
  transition: color 0.3s ease;
}

.footer .icon:hover {
  color: #ff4081;
}

.table-container {
  width: 70%; /* Set the width of the table container to 70% */
  max-width: 800px; /* Optional: Max width to prevent it from becoming too wide */
  margin: 0 auto; /* Centers the container horizontally */
}

@media (max-width: 600px) {
  .table-container {
    width: 95%;
  }
}

.table-container h5,
h4 {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

#current th {
  background-color: #384aa7;
}

#upcoming th {
  background-color: #4caf50;
}

#recent th {
  background-color: #eb5e55;
}

th {
  /* background-color: #4caf50; */
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ddd;
}

/* Styling table rows */
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Styling even rows for alternating background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.icon-row {
  margin: 8px 0px;
}

.reg-link {
  text-decoration: none;
  font-size: 12px;
  color: #4caf50;
}

.comp-name {
  text-decoration: none;
  color: black;
}

.small-icon {
  font-size: 12px !important;
}

.city-name {
  font-weight: 100;
  padding-top: 12px;
}

.venue-name {
  font-weight: 100;
  text-decoration: none;
  color: black;
}

.action-btn {
  color: white;
  background-color: #384aa7;
  border: none;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}
